@font-face {
    font-family : 'Poppins Regular';
    src         : url('./font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
}

/* Define Poppins ExtraLight font */
@font-face {
    font-family : 'Poppins ExtraLight';
    src         : url('./font/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight : 200; /* Adjust the font weight according to your font file */
    font-style  : normal;
}

@font-face {
    font-family : 'Poppins ExtraLightItalic';
    src         : url('./font/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight : 200; /* Adjust the font weight according to your font file */
    font-style  : italic;
}

:root {
    --text        : #002335;
    --background  : #fff1e6;
    --background2 : #ffebdc;
    --primary     : #60A2AA;
    --secondary   : #235067;
    --accent      : #E6FCFF;
    --shadow      : rgba(0, 0, 0, 0.15);
    --border      : #595959;
}


* {
    padding     : 0;
    margin      : 0;
    font-family : "Poppins Regular", sans-serif;
}

body {
    width            : 100vw;
    height           : 100vh;
    background-color : var(--background);
    overflow-x       : hidden;;
}

h1, h2, h3 {
    color : var(--text);
}

.content {
    width  : 100vw;
    height : 100vh;
}

/*
* Header
*/

.header {
    margin-left      : 5.5em;
    width            : auto;
    position         : sticky;
    top              : 0;
    background-color : #FFEBDC;
    border-bottom    : solid var(--border) 1px;
}

.headline {
    margin-left: 1em;
    font-size: xxx-large;
    font-family : "Poppins Regular", sans-serif;
}

.slogan {

    margin-left: 8.8em;
    margin-top: -1.25em;
    font-size: xx-large;
    font-family : "Poppins ExtraLightItalic", sans-serif;
}

/*
* Nav Bar
*/

.navBar {
    position         : fixed;
    display          : flex;
    flex-direction   : column;
    /* justify-content: ; */
    align-items      : center;
    top              : 0;
    width            : 5.5em;
    height           : 100%;
    padding          : 1vh 0;
    border-right     : solid var(--border) 1px;
    background-color : var(--background2);
}

.navBarLogo {
    width : 100%;
}

.navBarLogoLink {
    width  : 60%;
    margin : 2em 0 6em 0;
    cursor : pointer;
}

.navBarIcon {
    width : 100%;
}

.navBarIconLink {
    width         : 40%;
    margin-bottom : 3em;
    cursor        : pointer;
}

.main {
    width       : 90vw;
    height      : 100vh;
    margin-left : 10vw;
}

.feed {
    display        : flex;
    flex-direction : column;
    width          : 100%;
    height         : 100%;
    align-items    : center;
}

.postCard {
    display          : flex;
    height           : 25em;
    width            : 40em;
    background-color : var(--primary);
    border-radius    : 2em;
    margin-top       : 8vh;
    cursor           : pointer;
    transition       : width 0.3s ease, height 0.3s ease;
}

.detailView {
    width  : 56em;
    height : 35em;
}

.postImage {
    width               : 50%;
    height              : 100%;
    background-position : center;
    background-size     : cover;
    background-repeat   : no-repeat;
    border-radius       : 2em 0 0 2em;
}

.postContent {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between; /* to be fixed */
    align-items     : center;
    width           : 42%;
    height          : 93%;
    padding         : 2.5% 2.5%;
}

.postTitle {
    text-align : center;
}

.interaction-heading {
    display         : flex;
    justify-content : space-evenly;
    width           : 95%;
    height          : 6%;
}

.postRating {
    height : 100%;
}

.postRating img {
    height : 100%;
}

.postBookmark {
    cursor : pointer;
}

.postDescription {

}

.postIngredients {

}

.postPreparation {
    width : 90%;
}

.postFooter {
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    align-items     : flex-start;
    width           : 90%;
}

.postTags {

}

.postDate {
}

.postUserIcon {
    height : 2em;
    width  : 2em;
}

.postUserName {

}


/* INPUTS FOR ADDING POST */
/* .addPostInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} */


.addPostInputs {
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
    width            : 60%;
    background-color : var(--background2);
    padding          : 20px;
    border-radius    : 10px;
    box-shadow       : 0px 0px 10px var(--shadow);
    margin           : 5em auto; /* centers the form horizontally */
    /*margin-top: 10%;*/
}

.addPostInputs div {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
    width           : 100%;
    margin-bottom   : 20px;
}

.addPostInputs label {
    font-size    : 1.2em;
    color        : var(--text);
    margin-right : 10px;
    font-weight  : bold; /* makes the label text bold */
    width        : 22%;
}

.addPostInputs input {
    flex-grow        : 1;
    padding          : 10px;
    border           : none; /* removes the border */
    border-radius    : 5px;
    background-color : var(--accent);
    color            : var(--text);
    font-size        : 1em;
    box-shadow       : 0 0 15px 0 var(--shadow); /* adds a subtle shadow to the input fields */
}

.addPostInputs button {
    padding          : 10px 20px;
    border           : none;
    border-radius    : 5px;
    background-color : var(--primary);
    color            : var(--background);
    cursor           : pointer;
    font-size        : 1.2em;
    margin-top       : 20px;
    transition       : background-color 0.3s ease, transform 0.3s ease; /* adds a transition effect to the button */
}

.addPostInputs button:hover {
    background-color : var(--secondary);
    transform        : scale(1.05); /* slightly enlarges the button when hovered */
}